.chat{
  width: 70%;
 box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 50px 48px 6px -30px rgba(0,0,0,0);
}
.chatBox {
  background-color: darkslateblue;
  padding: 15px;
  }
.inputBox {
  background-color: darkblue;
  padding: 15px;
  display: flex;
  justify-content: space-between
}
.input {
  width: 80%;
  border-radius: 5px;
  border: none;
  background-color: antiquewhite;
}
button{
  width: 100px;
  height: 55px;
  border-radius: 0 25px 25px 0;
  border: none;
  background-color: burlywood;
}
.message {
  padding: 20px;
  margin: 10px 0;
  width: 450px;
  list-style-type:none;
  border-radius: 25px;
  background: radial-gradient(circle, rgba(246,228,236,1) 0%, rgba(197,223,255,0.8500350823923319) 100%);
;
  animation-duration: 2s;
  animation-name: slide;
}

@keyframes slide {
  from {
    margin-left: 105%;
  }

  to {
    margin-left: 0;
  }
}