.request-error, .spinner {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.error-text {
    color: #302096;
    font-size: 30px;
    font-weight: bold;
}